<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/contacto_empresa.css">
</head>
<body>
    <!-- CABECERA -->
    <header>
        <h1>Green Haven</h1>
    </header>
    <!-- LINKS LOCALES-->
    <nav>
        <span>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
            </svg>
        </span>
        <div>
            <a class="link" href="../index.html" title="Ir a la página de inicio">Inicio</a>
            <a class="link" href="productos.html" title="Ver nuestros productos">Productos</a>
            <a class="link" href="#" title="Contactarnos">Contacto</a>
            <a class="link" href="presupuestos.html" title="Obtener un presupuesto">Presupuesto</a>
        </div>
    </nav>
    <main>
        <section>
            <!-- Mapa de Google Maps -->
            <div class="maps">
                <h2>Ubicación exacta</h2>
                <!-- Mapa de la calle: -->
                <iframe src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d776.6053560004351!2d1.3928089285436005!3d38.868598998225764!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMzjCsDUyJzA3LjAiTiAxwrAyMyczNi40IkU!5e0!3m2!1ses!2ses!4v1711496668040!100m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </section>


        <section>
            <!-- Datos de la empresa -->
            <div class="datos_empresa">
                <h2>Datos de Contacto</h2>
                <!-- Datos de la empresa, como dirección, teléfono, correo electrónico, etc. -->

                <ul>
                    <li><strong>Nombre de la empresa: </strong> <span>Green Haven</span></li>
                </ul>
                <ul>
                    <li><strong>Tipo de empresa: </strong> <span>Empresa dedicada a la venta de productos ecológicos y sostenibles.</span></li>
                </ul>
                <ul>
                    <li><strong>Dirección: </strong><span>C. de Montuiri, 18, 07818 San Francesc de s'Estany, Illes Balears</span></li>
                </ul>
                <ul>
                    <li><strong>Teléfono: </strong> <span>+34 777 22 44 77 88</span></li>
                </ul>
              
                <ul>
                    <li><strong>Horario de atención: </strong> <span> Lunes a Viernes de 9:00 a.m. a 5:00 p.m.</span></li>
                </ul>
                <ul>
                    <li><strong>Correo electrónico: </strong>
                    <a href="mailto:info@greenhaven.com"> info@greenhaven.com</a></li>
                </ul>
                <ul>
                 
                    <li><strong>Redes sociales: </strong> </li>
                    <li class="links_redes">
                        <a title="facebook" target="_blank" href="https://www.facebook.com"><img src="../img/facebock.jpg" alt="facebock"></a>
                        <a title="instagram" target="_blank" href="https://www.instagram.com"><img src="../img/instagram.jpg" alt="icono instagram"></a>
                        <a title="youtube" target="_blank" href="https://www.youtube.com"><img src="../img/youtube_blanco.jpg" alt="icono youtube"></a>
                        
                    </li>
                </ul>
                <br>
                <ul>
                    <li><strong>Información Adicional:</strong></li><li> Green Haven se compromete a ofrecer productos ecológicos y sostenibles para promover un estilo de vida más consciente y respetuoso con el medio ambiente. Nuestro objetivo es proporcionar opciones sustentables y de alta calidad que ayuden a nuestros clientes a reducir su impacto ambiental y contribuir a la preservación del planeta.</li>
                </ul>

            </div>
        </section>
    </main>

     <!-- Footer -->
     <footer>
        <div class="footer_1">
            <img alt="icono_télefono" src="../img/icon_telefono.jpg" width="100" height="100"><span>777 22 44 77 88</span>
            <br>
            <img alt="icono del google maps" src="../img/Maps.jpg" width="100" height="100"><span>C. de Montuiri, 18, San Francesc de s'Estany</span>
        </div>
        <div>
            <img alt="icono derechos de autor" id="icon_derechos_autor" src="../img/icon_derechos_autor.png" width="100" height="100"><span id="derechos_autor">::Derechos de autor reservados::</span>
        </div>
        <div class="footer_2">
            <a title="icono youtube" target="_blank" href="https://www.youtube.com"><img alt="icon_youtube" src="../img/icon_youtube.jpg"  width="100" height="100"></a>
            <a title="icono instagram" target="_blank" href="https://www.instagram.com"><img alt="icon_instagram" src="../img/icon_insta.jpg" width="100" height="100"></a>
            <a title="icono facebook" target="_blank" href="https://www.facebook.com"><img alt="icon_facebock" src="../img/icon_facebock.jpg" width="100" height="100"></a>
        </div>
    </footer>
    <script src="../js/burgerMenu.js"></script>
</body>
</html>